Backup.WPF/Service References/BackupService/BackupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BackupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61823/BackupService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61823/BackupService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:61823/BackupService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61823/BackupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Backup.Domain.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BackupStream">
    <wsdl:part name="parameters" element="tns:BackupStream" />
  </wsdl:message>
  <wsdl:message name="BackupStream_Headers">
    <wsdl:part name="Directory" element="tns:Directory" />
    <wsdl:part name="Name" element="tns:Name" />
    <wsdl:part name="User" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="IBackupService_UploadFile_OutputMessage" />
  <wsdl:message name="IBackupService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IBackupService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackupService_GetUserFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFolders" />
  </wsdl:message>
  <wsdl:message name="IBackupService_GetUserFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackupService_AddUserFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserFolder" />
  </wsdl:message>
  <wsdl:message name="IBackupService_AddUserFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IBackupService_GetUsersAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersAccounts" />
  </wsdl:message>
  <wsdl:message name="IBackupService_GetUsersAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackupService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IBackupService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackupService_GetUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="IBackupService_GetUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackupService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackupService/UploadFile" name="BackupStream" message="tns:BackupStream" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackupService/UploadFileResponse" message="tns:IBackupService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackupService/AuthenticateUser" message="tns:IBackupService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackupService/AuthenticateUserResponse" message="tns:IBackupService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackupService/GetUserFolders" message="tns:IBackupService_GetUserFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackupService/GetUserFoldersResponse" message="tns:IBackupService_GetUserFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackupService/AddUserFolder" message="tns:IBackupService_AddUserFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackupService/AddUserFolderResponse" message="tns:IBackupService_AddUserFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackupService/GetUsersAccounts" message="tns:IBackupService_GetUsersAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackupService/GetUsersAccountsResponse" message="tns:IBackupService_GetUsersAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackupService/CreateUser" message="tns:IBackupService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackupService/CreateUserResponse" message="tns:IBackupService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackupService/GetUserRoles" message="tns:IBackupService_GetUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackupService/GetUserRolesResponse" message="tns:IBackupService_GetUserRoles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBackupService" type="tns:IBackupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IBackupService/UploadFile" style="document" />
      <wsdl:input name="BackupStream">
        <soap:header message="tns:BackupStream_Headers" part="Directory" use="literal" />
        <soap:header message="tns:BackupStream_Headers" part="Name" use="literal" />
        <soap:header message="tns:BackupStream_Headers" part="User" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IBackupService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFolders">
      <soap:operation soapAction="http://tempuri.org/IBackupService/GetUserFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserFolder">
      <soap:operation soapAction="http://tempuri.org/IBackupService/AddUserFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersAccounts">
      <soap:operation soapAction="http://tempuri.org/IBackupService/GetUsersAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IBackupService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap:operation soapAction="http://tempuri.org/IBackupService/GetUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackupService">
    <wsdl:port name="BasicHttpBinding_IBackupService" binding="tns:BasicHttpBinding_IBackupService">
      <soap:address location="http://localhost:61823/BackupService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>