Backup.WPF/Service References/BackupService/BackupService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Backup.Domain.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Backup.Domain.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfBackupFolderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackupFolderDTO" nillable="true" type="tns:BackupFolderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackupFolderDTO" nillable="true" type="tns:ArrayOfBackupFolderDTO" />
  <xs:complexType name="BackupFolderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsoluteFolderPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackupFiles" nillable="true" type="tns:ArrayOfBackupFileDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackupFolderDTO" nillable="true" type="tns:BackupFolderDTO" />
  <xs:complexType name="ArrayOfBackupFileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackupFileDTO" nillable="true" type="tns:BackupFileDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackupFileDTO" nillable="true" type="tns:ArrayOfBackupFileDTO" />
  <xs:complexType name="BackupFileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackupFileState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackupFileDTO" nillable="true" type="tns:BackupFileDTO" />
  <xs:complexType name="ArrayOfUserAccountsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAccountsDTO" nillable="true" type="tns:UserAccountsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAccountsDTO" nillable="true" type="tns:ArrayOfUserAccountsDTO" />
  <xs:complexType name="UserAccountsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserAccounts" nillable="true" type="tns:ArrayOfUserAccountDTO" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAccountsDTO" nillable="true" type="tns:UserAccountsDTO" />
  <xs:complexType name="ArrayOfUserAccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAccountDTO" nillable="true" type="tns:UserAccountDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAccountDTO" nillable="true" type="tns:ArrayOfUserAccountDTO" />
  <xs:complexType name="UserAccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountDataQuota" type="xs:int" />
      <xs:element minOccurs="0" name="AccountUniqueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAccountDTO" nillable="true" type="tns:UserAccountDTO" />
  <xs:complexType name="ArrayOfUserTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTypeDTO" nillable="true" type="tns:UserTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTypeDTO" nillable="true" type="tns:ArrayOfUserTypeDTO" />
  <xs:complexType name="UserTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTypeDTO" nillable="true" type="tns:UserTypeDTO" />
</xs:schema>